<h1 class="font-weight-bold">Listado de Empleados</h1>
<div class="row">
  <div class="col text-right container">
    <button routerLink="/form/nuevo" class="btn btn-danger btn btn-danger mb-5 mt-5">
      <i class="fa fa-arrow-left"></i>
      Crear Empleado
    </button>
  </div>
</div>
<table class="table table-responsive-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Funciones</th>
      <th scope="col">Jefe</th>
      <th scope="col">Rol</th>
      <th scope="col">Herramientas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let table of empleado; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ table.name }}</td>
      <td>{{ table.funciones }}</td>
      <td>{{ table.jefe }}</td>
      <td>
        <label *ngIf="table.rol[i] === table.rol[0]" class="badge badge-danger">{{ table.rol }}</label>
        <label *ngIf="table.rol[i] === table.rol[1]" class="badge badge-primary">{{ table.rol }}</label>
        <label *ngIf="table.rol[i] === table.rol[2]" class="badge badge-success">{{ table.rol }}</label>
        <label *ngIf="table.rol[i] === table.rol[3]" class="badge badge-warning">{{ table.rol }}</label>
      </td>
      <td>
        <button class="btn btn-info mr-1"
        [routerLink]="['/form', table.id ]">
          <i class="fa fa-pen"></i>
        </button>

        <button class="btn btn-danger"
          (click)="borrarHeroe( table, i )">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>



<div *ngIf="!cargando && empleado.length === 0"
class="alert alert-primary text-center mt-3 animated fadeIn faster">
  <h4>No hay registros</h4>
  <p>
    <svg
      width="15%"
      height="15%"
      viewBox="0 0 16 16"
      class="bi bi-exclamation-octagon-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
      />
    </svg>
  </p>
</div>

<div *ngIf="cargando"
 class="alert alert-danger text-center mt-3 animated fadeIn faster">
  <h4>Cargando</h4>
  <p>
    <i class="fas fa-spinner fa-pulse fa-5x"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
